/* styles for graphs */
.adrotate-label { font-size: 12px; margin: auto 0; padding:5px; font-weight: bold }
.adrotate-clicks { color: #5Af; font-weight: normal }
.adrotate-impressions { color: #F80; font-weight: normal }

/* styles for advert statuses and stats */
.row_urgent { background-color:#ffebe8; border-color:#c00; }
.row_error { background-color:#ffffe0; border-color:#e6db55; }
.row_inactive { background-color:#ebf3fa; border-color:#466f82; }
.stats_large { display: block; margin-bottom: 10px; margin-top: 10px; text-align: center; font-weight: bold; }
.number_large {	margin: 20px; font-size: 28px; }

/* Fancy select box for group and page injection*/
.adrotate-select { padding:3px; border:1px solid #ccc; max-width:500px; max-height:200px; overflow-y:scroll; background-color:#fff; }

/* Banner styles */
.adrotate_banner { margin:12px 0; position:relative; overflow:hidden; }
.adrotate_banner .text { color:#000; font-size:15px; line-height:26px; margin:18px 18px 14px; float:left; width:auto; max-width:80%; }
.adrotate_banner .text span { font-size:12px; opacity:0.7; }
.adrotate_banner .button { float:left; border:none; font-size:14px; margin:18px 0 18px 16px; padding:12px 0; color:#FFF; text-shadow:none; font-weight:bold; background:#86c351; -moz-border-radius:3px; border-radius:3px; -webkit-border-radius:3px; text-decoration:none; height:50px; text-align:center; text-transform:uppercase; width:147px; box-shadow:none; line-height:26px; }
.adrotate_banner .button:hover, .adrotate_pro_banner .button:focus { background:#0074A2; color:#FFF; }
.adrotate_banner .icon { float:right; margin:12px 8px 8px 8px; }
.adrotate_banner .close_banner { float:right; margin:8px; cursor:pointer; }

/* Dashboard styles */
.postbox-adrotate { margin-bottom:20px; padding:0; min-width:255px; border:#dfdfdf 1px solid; background-color:#fff; -moz-box-shadow:inset 0 1px 0 #fff; -webkit-box-shadow:inset 0 1px 0 #fff; box-shadow:inset 0 1px 0 #fff; }
.postbox-adrotate h3 { margin:0; padding:7px 10px 7px 10px; box-shadow:#ddd 0px 1px 0px 0px; -moz-box-shadow:inset 0 1px 0 #ddd; -webkit-box-shadow:#ddd 0px 1px 0px 0px; line-height:15px; }
.postbox-adrotate .inside { margin:10px 0px 0px 10px; padding:0px 10px 10px 0px; min-height:100px; position:relative; }
.inside { padding:6px 10px 12px; clear:both; }
.pro-image { padding: 0px 3px 0px 0px; }
/* Pushover */
.pushover-button {
	box-sizing: border-box; background-color: #eee;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QAJQCeAPHNVUx7AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wEPAh02ee0QVwAAACZpVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVAgb24gYSBNYWOV5F9bAAABqElEQVQ4y62TvUtbURjGf+fek2vQpMF2ED9QkfpR6VLaDoIEF0UKWQRBQ+yQP6GDU0Xw4y/obOgg6dDSJVS61MlBcXFQB6M1BsF+IES9NnrzcRy8xpvrBwH7bOflfc553+d5jsCF9tiRDwgBEaDXLi8B80AiGQ2Yzn7hIo8Cce5HOBkNfLo6aA7ydAVkgLjdez3BrS8rRbBJEmyU+AyBVVDE1i1SJ6psEmHvfOLktj0SjL/2snKQx8wpNg+LBJt0RjoN+j6bqOvN/ZotWAldtYK5gWpmV84YbPUw2ePlb7bI73+Kep+OLFONkGarXcK7l16+7+V57BW8qJMs7Ob5k4VQm4fVXzlyquyGiHRYBcC+WWQxnSP63AAgtn7O0FNJ9xOd0W+nbkF7pbsytXxOQw30N0t2MgX6Wzy8qtMJL5zy81jdsETaIXnjLL7trkLqGl+2svxI5/mwZt1l6ZJmJ6yEGqkYbveQOioQ2yiz7TbMa0DCWRnuMPBXaXzcsJx23YWEZmc7fJkqxdgzg8xZka/bFhVE2hSuKL+nMswko4GJ//KZxEO/8wVmfpjJTWeCTQAAAABJRU5ErkJggg==) 2px 2px no-repeat, linear-gradient(#FFF, #DEDEDE);
	border: 1px solid #CCC; border-radius: 3px; color: #333; display: inline-block;
	font: 11px/18px "Helvetica Neue",Arial,sans-serif; font-weight: bold;
	cursor: pointer; height: 22px; padding-left: 20px; padding-right: 5px;
	overflow: hidden; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	text-decoration: none; vertical-align: middle;
}